dist*
static/tmp/
config/client_session_key.aes
*.hi
*.o
*.sqlite3
fay/Language/Fay/Yesod.hs
.hsenv*
cabal-dev/
yesod-devel/
.cabal-sandbox
cabal.sandbox.config
.DS_Store
/yesod-fay.nix
static/combined
static/fay-runtime.js
static/faygen-*.js
data/events.dat

*~
\#*
.#*
.swp
documents/
/.sandbox-working/
/TAGS
/events.dat
ete.dat
test.store
/foo.dat
ui-tests/data/examples/reports
images
_build
_shake
*.uuid
*.mail
tags
*.gz

error.png

ui/css/styles.css
ui/css/kerris-styles.css

# lein files
ui/lein
ui/.lein-failures

# selenium files
.hub.out
.hub.pid
.node.out
.node.pid
.stack-work
*.tix
